@charset "UTF-8";

:root {
    --primary-color: #bd1b34;
    --white: #fff;
    --black: #000;
    --nav-height: 70px;
    --nav-link-font-size: 18px;
    --mobile-nav-link-font-size: 24px;
    --nav-padding: 16px;
    --hamburger-size: 30px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    color: var(--white); 
}

.header {
    background-color: var(--primary-color);
    box-shadow: 1px 0px 6px var(--black);
    padding-inline: var(--nav-padding);
}

.nav {
    max-width: 1280px;
    height: var(--nav-height);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-height: 156px;
    margin-left: -59px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: var(--nav-link-font-size);
    padding-block: var(--nav-padding);
}

.hero {
    height: calc(100vh - var(--nav-height));
    background: center / cover url("./imagens/Design\ sem\ nome.png");
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--white);
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    width: var(--hamburger-size);
    height: 3px;
    background-color: var(--white);
    margin-top: 5px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

h1 {
    text-align: center;
    margin-top: -393px;
    margin-left: -695px;
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    text-shadow: 1px 1px 1px #000000bf;
}

h2#a {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-top: 180px;
    position: relative;
    top: -12px;
}

h3 {
    color: white;
    text-shadow: 1px 1px 3px black;
    margin-left: 148px;
    margin-top: 25px;
}

h3#a {
    color: rgb(0, 189, 0);
    font-family: arial;
    text-shadow: 1px 1px 3px black;
    margin-left: 79px;
    margin-top: -14px;
    position: relative;
    top: 18px;
    font-size: 28px;
}

a#a {
    text-decoration: none;
    background: #bd1b34;
    color: white;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 35px;
    margin-top: 56px;
    margin-left: 146px;
    display: inline-block;
    border: 0;
}

.conteiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #e93651;
    width: 270px;
    height: 560px;
    margin: 10px;
    border-radius: 15px;
}

.card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 1px 50px;
    margin-top: 37px;
}

.card-imagem {
    height: 297px;
    margin-bottom: 15px;
    background-size: cover;
}

.card h2 {
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.card p {
    padding: 10px;
    text-align: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 26px;
}

.car-1 {
    background: url("./imagens/buque-flores.png");
    margin-left: -10px;
}

.car-2 {
    background: url("./imagens/jarro-flores.png");
    margin-left: -10px;
}

.car-3 {
    background: url("./imagens/jarro-girasol.png");
    background-repeat: no-repeat;
    margin-left: -23px;
    top: 32px;
    position: relative;
}

.card:hover {
    background-color: #f8576f;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

@media (max-width: 767px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--primary-color);
        clip-path: circle(100px at 90% -15%);
        transition: clip-path 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list > a {
        font-size: var(--mobile-nav-link-font-size);
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .nav-list li:nth-child(1) a {
        transition-delay: 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition-delay: 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition-delay: 0.6s;
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list > a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: var(--nav-padding);
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .hero {
        background: url("./imagens/flor-mobile.png");
        background-size: cover;
    }

    h1 {
        text-align: center;
        margin-top: -643px;
        margin-left: 10px;
        color: white;
        font-family: "Playfair Display", serif;
        font-size: 37px;
        text-shadow: 1px 1px 1px #000000bf;
    }

    h2#a {
        text-align: center;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        margin-top: 130px;
        position: relative;
        top: -52px;
    }

    h3 {
        color: white;
        text-align: center;
        text-shadow: 1px 1px 3px black;
        margin-left: 10px;
        margin-top: 15px;
    }

    h3#a {
        color: rgb(0, 189, 0);
        font-family: arial;
        text-shadow: 1px 1px 3px black;
        margin-left: 0px;
        margin-top: -14px;
        position: relative;
        top: 18px;
        font-size: 28px;
    }

    a#a {
        text-decoration: none;
        background: #bd1b34;
        color: white;
        border-radius: 25px;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 700;
        padding: 10px 35px;
        margin-top: 310px;
        margin-left: 18px;
        display: inline-block;
        border: 0;
    }
}